
/* main styles */
body {
  margin-top:0px;font-family: Trebuchet MS, Helvetica, Sans-Serif;	font-size: small;
  text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}
h1 {color: gray;}
a {color: gray;}
a:hover {color: black;}


/* main layout */
.wrapper {width:1024px; margin:0 auto;}
.top_menu {
  float:right; border:dotted 0px silver; border-top:none;
  border-radius:0 0 7px 7px; padding:5px 30px; top:0px;
  box-shadow: 5px 5px 30px -10px silver, -5px 5px 30px -10px silver;
  background:#f5f5f5;
}
.header {}
.header h1 a {font-family:CustomFont; font-size:1.7em;text-decoration:none;}
.content {margin-bottom: 150px;}
.footer {
	position:fixed; left: 0; bottom: 0; border-top: dotted 0px silver;;
	padding: 3px 10px; background: white;  width: 100%;text-align: center;
	box-shadow: 5px 0px 30px -5px silver, -5px 0px 30px -5px silver;
	background:#f5f5f5;
}


/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/* customized html elements */
fieldset {
  padding: 0px 15px 6px 15px; margin:20px 0 30px 0; 
  border-radius:7px; border: dotted 0px silver;
  box-shadow: 5px 5px 30px -10px silver, -5px 5px 30px -10px silver;
  background:;
  /* -8px -8px 70px -28px black inset, 8px -8px 70px -28px black inset; */
}
fieldset legend {color:gray; font-weight: bold; font-size:1.5em;}
fieldset legend .tip {color:silver;font-weight:normal;}
table {border-spacing: 0;}
table th {padding: 3px 5px; text-align: left;background: grey;color: white;}
table td {padding: 3px 5px;}
input {
  margin:8px 0; font-size:1.7em; height:35px; padding: 2px 10px;
  border-radius:5px; border: solid 1px silver;
}
textarea {
  margin:8px 0 0 0; padding: 10px 10px;border-radius:5px; border: solid 1px silver;
}
em {font-style: normal; color: gray;}
label {font-weight: bold; margin-right: 10px;}
input[type="checkbox"] {margin-right: 4px; height: 15px;}
pre { margin: 10px 0;}

sample {
  font-size:1.2em; padding: 5px 8px; margin:8px 0 0 0;
  background: silver; color: black; display: block;
  border-radius:5px;
}
code {
  font-size:1.7em; padding: 5px 8px; margin:8px 0 0 0;
  background: black; color: white; display: block;
  border-radius:5px; border: none;
}

/* custom classes */
.title {color:gray; font-weight: bold; font-size:1.5em; padding:10px 0 15px 0;}
.title .tip {color:silver;font-weight:normal;}
.clear {clear: both;}
.pointer {cursor: pointer;}
.remove_edges {padding:0; margin:0;}
.link_button {
  line-height:22px; padding:5px 15px; margin-right:5px;
  border:solid 1px gray; border-radius:5px; cursor: pointer;
}
.link_button:hover {background:black; color:white;}
.link_button_big {
  line-height:30px; padding:5px 15px;
  font-size: 1.7em; border:solid 1px gray; border-radius:5px; cursor: pointer;
}
.link_button_big:hover {background:black; color:white;}
.sample {width: 275px;}