@{
    ViewBag.Title = "Contributors";
}

<div class="col_12">
  <h3>@ViewBag.Title</h3>

  <section>
    <p></p>
    <ul>
      <li>
        <a href="http://www.codeproject.com/Members/Sacha-Barber">Sacha Barber</a>
        <br/>
        Since version 1.2+, portions of his code are used in this extension
        <br/>
        (source: <a href="http://sachabarber.net/?p=1007">http://sachabarber.net/?p=1007</a>)
      </li>
      <li>
        <a href="http://www.codeproject.com/Members/Joshua-Russo">Joshua Russo</a>
        <br/>
        Since version 1.4+, portions of code from his version of this control are used in this extension
        <br/>
        (source: <a href="https://docs.google.com/leaf?id=0BwPweKbpL7dbYWFjZGRjMjAtOWRmZi00OTVlLWExZDgtOTAwZWEyNDA5MTI0">https://docs.google.com/leaf?id=0BwPweK...</a>)
      </li>
      <li>
        <a href="http://www.codeproject.com/script/Membership/View.aspx?mid=633862">Todd (Emillium)</a>
        <br/>
        Enhancement to use Display Template
        <br/>
        (source: <a href="http://www.codeproject.com/Messages/4337526/Re-Enhancement-to-use-Display-Template.aspx">http://www.codeproject.com/Messages/4337526/Re-Enhancement-to-use-Display-Template.aspx</a>)
      </li>
      <li>
        <a href="http://www.codeproject.com/script/Membership/View.aspx?mid=9339055">Dmitry A. Efimenko</a>
        <br/>
        Boolean checkbox selector and other ideas
        <br/>
        (source: <a href="http://www.codeproject.com/Messages/4331311/Possible-updates.aspx">http://www.codeproject.com/Messages/4331311/Possible-updates.aspx</a>)
      </li>
    </ul>
  </section>
</div>